# Build output
/build/
/target/
.gradle/
/out/

# Intellij
.idea/
*.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# H2 database files
*.mv.db

# Docs: ignore docs except docs/general
/docs/*
!docs/general/

# local settings
/.env

